# Node
node_modules/
package-lock.json

# Docs
docs/

# Builds
dist/
*.tgz
**/*.js
**/*.mjs
!.*rc.js

# Yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions